/*  ANCHOR - FOOTER */

 footer{
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-altrosa);
}   

/* ANCHOR BUTTON SCROLL TO TOP */

.btn-scroll-top{
  position: fixed;
  display: none;
  width: 30px;
  height: 30px;
  bottom: 130px;
  right: 20px;
}

.btn-scroll-top:hover{
  img {
    transform: rotateY(360deg);
    transition: 1s;
  }
}

.link_to_top{ 
  gap: 50px; 
  margin-left: auto;
  /* display: none; */
    transition: 0.8s ease-in-out;
}
.link_to_top:hover {
  transform: scale(1.1) rotateX(360deg);
}
/* icon im anker linkt-to-top */
.button-to-top{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: groove;
  box-shadow: 5px 5px 12px 0 rgba(0,0,0,0.25);
}

@media screen and (max-width:410px) {
footer {
  width: 100%;
  padding: 40px;
  height: 120px;
  p {
    text-align: left;
  }
  }
  .btn_top{
      width: 100%;
      height: 35px;
      margin-top: 1em;
      }
  .btn-scroll-top{
    visibility: hidden;
  }
}