/*  ANCHOR - Nav */
<<<<<<< HEAD
/* nav muss außerhalb von header, wenn sticky! header dann per top:0 und margin-top:-minus-wert, um den nachfolgenden content nachzuschieben */
=======
/* sticky nav island mit fester Höhe! 
header top: minus nav-höhe und margin-top:-minus-wert= nav-höhe, um den nachfolgenden content nachzuschieben */

/*  auskommentierte borders nur für Kontrollzwecke */
>>>>>>> 26f658c (clean up css comments)
 nav {
   /* border: 1px solid burlywood; */
  width: 100%;
  height: 140px;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: var(--transp);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  align-items: center; 
    & .logo {
    left: 5vw;
    position: absolute;
    z-index: 99;
    width: 120px;
    min-width: 60px;
    height: auto;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
<<<<<<< HEAD
        /* border-radius: 50%; */
        /* background-color: var(--primary); */
=======
>>>>>>> 26f658c (clean up css comments)
      }
    }
}
/* Linie unten bei hover */
nav::after {
  content: "";
  position: absolute;
  background-color: var(--primary-light);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  transition: width 0.5s ease;
}
nav:hover::after {
  width: 100%;
}

.navi-container {
<<<<<<< HEAD
    /* border: 1px solid red; */
=======
>>>>>>> 26f658c (clean up css comments)
  display: flex;
  position: absolute;
  z-index: 20;
  left: 5vw;
  width: calc(100% - 10vw);
  height: 50px;
  justify-content: space-between;  
  & div:first-of-type {
<<<<<<< HEAD
      /* border: 2px solid blue; */
=======
>>>>>>> 26f658c (clean up css comments)
      width: 100%;
      margin-left: 100px;
    display: flex;
    justify-content: center;
  background-color: var(--primary-transp);    
    & ul {
      width: 100%;
<<<<<<< HEAD
      /* width: calc(100% - 100px); */
      /* margin: 0 -110px 0 0; */
=======
>>>>>>> 26f658c (clean up css comments)
      display: flex;
      gap: 1rem;
      justify-content: space-evenly;
      align-items: center;  
      & li {
        padding: 4px;  
        position: relative;
      }
      & li::after{
        content: '';
        position: absolute;
        width: 0%;
        /* height: 0%; */
        border: 0.5px solid transparent;    
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: all 0.5s ease; 
      }  
      & li:hover::after {
        width: 100%;
        /* height: 100%; */
        border-color: var(--secondary);
      }  
      a {
        font-size: 1.1rem;
        color: var(--body-bg);
        text-decoration: none;
        transition: all 0.3s ease-in-out;
      }
      a:hover{
        color: var(--secondary);
        } 
    }  
  }
   
}
.burger-btn{
    display: none;
    background-color: transparent;
    border: none;
    width: auto;
    height: auto;
    padding: 0px;
    align-items: center;
    justify-content: center;
    > i{
        font-size: 1.6rem;
        color: var(--neutral-100);
      }  
    .close-btn {
        display: none;
      }
    .fa-bars {
      display: inline-block;
    }
      &.active .close-btn {
      display: inline-block;
    }
    &.active .fa-bars {
      display: none;
    }
}

/* Zustand wenn aktiv: Bars verstecken, X zeigen */
/* .burger-btn.active .close-btn {
  display: inline-block;
}

.burger-btn.active .fa-bars {
  display: none;
} */

.burger-btn i:hover{
  animation: burger-anim 1s forwards;
}
    
@keyframes burger-anim{
    0%{
      transform:scale(1);
    }
    100%{
      transform:scale(1.3);
    }
}

/* ANCHOR  Navi-Suchfeld */
nav .navi-container form {
    display: flex;
    /* width: min(15vw, 500px); */
    flex-basis: 20;
      flex-grow: 0;
    flex-shrink: 1;    
}
input[type="search"] {
  width: 100%;
  min-width: 150px;
  padding: 10px;
	border: 1px solid var(--neutral-400);
  border-style: solid none inset none;    
}

input, button {
	transition: 
    outline-offset 0.25s ease,
    box-shadow 0.25s ease,
    background-color 0.25s ease;
}
/* Fokuszustand weich anpassen */
input:focus, button:not[burger-btn]:focus {
  outline: 2px solid var(--accent-2);
  outline-offset: 1px;
	box-shadow: 0 0 6px rgba(0, 119, 204, 0.6); /* weiche Aura */
}
button:not[burger-btn]:active {
  outline: 1px solid var(--accent-7);
  outline-offset: 2px;
	box-shadow: 0 0 6px rgba(0, 119, 204, 0.6); /* weiche Aura */
}

.btn-search {
  color: var(--neutral-100);
  background-color: var(--primary-light);
  /* border: none; */
  padding: 5px 10px;
	border: 1px solid var(--neutral-400);
  border-style: solid solid solid none;  
}
/* wenn Lupe innerhalb des Suchfeldes gewünscht */
/* label::before {
    content: "";
    display: block;
    background-image: url("../img/logo_btn_icon/search-icon.svg");
    background-size: cover;
    background-position: center right;
    width: 25px;
    height: 25px; 
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    right: 10px;
    z-index: 10;
} */

/*  ANCHOR - Header */
header{
    position: relative;
    top: -140px;
    z-index: 0;
    width: 100%;
    height: calc(100vh - 60px);
    margin-bottom: -140px;
    background-image: url("../img/teaser.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--neutral-200);
  & .layer{
    width: 50vw;
    height: auto;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--neutral-700);
    background-color: var(--transp);
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 20px rgb(0 0 0 / 0.3);
    border: var(--neutral-300) solid 2px;
    animation: headlineup 1s ease-in-out forwards;
    text-align: center;
    & h2 {
      margin: 0;
    }
    & p {
      font-size: 1.2rem;
      margin: 0.6rem;
    }
  }
}  
/* /* CSS erlaubt immer nur ein transform pro Selektor – das zweite transform überschreibt das erste, also muss man das erste wiederholen! */ 

@keyframes headlineup {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  } 
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

/* ANCHOR Buttons */
.div-buttons-header-bottom {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: absolute;
  bottom: 80px;
  width: 100%;
  height: auto;  
}

.scroll-down {
  display: flex; justify-content: center;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  cursor: pointer;
  transition: opacity 0.5s ease;
}
.scroll-down span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid var(--neutral-600);
  border-right: 2px solid var(--neutral-600);
  transform: rotate(45deg);
  animation: bounce 2s 0s 3;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0) rotate(45deg);
  }
  40% {
    transform: translateY(10px) rotate(45deg);
  }
  60% {
    transform: translateY(5px) rotate(45deg);
  }
}

#anker-content {
  scroll-margin-top: 141px;
}

/*  ANCHOR Responsive */
@media screen and (max-width:1020px) {
  .navi-container {
    div:first-of-type {
      align-items: center;
      #dropdown-menu {
        display: none;
      }
      .burger-btn {
        display: block;
        margin-left: auto;
        margin-right: 10px;
      }
      #dropdown-menu.expand{
        display: block;
        position: absolute;
        width: 100%;
        height: 80vh;
        top: 80px;
        right: 0px;
        z-index: 20;
        padding: 20px;
        background-color: var(--primary);
        text-align: center;
        line-height: 3rem;
        & a {
            color: var(--secondary);
            font-size: clamp(1.5rem, 2.5vw, 2.5rem);
          }         
      }
      ul.expand a:hover {
        color: var(--accent-7);
      } 
    }     
  }
}

@media screen and (max-width:580px) {
  nav {
    height: 80px;
    .logo {
      width: 20%;
      height: auto;
    }
    .navi-container{
      height: 34px;
      & div:first-of-type {
        margin-left: 20px;
      }
    }
  }
    nav .navi-container form {
      display: none;
    }
  section {
    width: 100%;
    padding-left: 2vw;
    padding-right: 5vw;
  }  
}